dist/
*.egg-info/
.installed.cfg
*.egg
spider-hacker.sublime-workspace
spider-hacker.sublime-project/
*.pyc
venv_spider-hacker/
*.sublime-project
*.sublime-workspace
src/geckodriver.log
src/plotter/
src/test.py
src/chatgpt_proxy/prospector_cve_links_list.txt
src/chatgpt_proxy/prospector_cve_list_sorted.txt
src/chatgpt_proxy/chatgpt_response_test.txt